<!DOCTYPE html>
<html lang="RU">
<head>
    <meta charset="UTF-8">
    <title>SpaceX</title>
    <!--    CSS  -->
    <link rel="stylesheet" href="/css/main.css">
    <!--    Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <!--    Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg">
        <img src="https://utmagazine.ru/uploads/content/logo.jpg" alt="" class="spacex_icon">
        <div class="nav-bar">
            <a href="" style="float: right">Sign Up</a>
            <a href="" style="float: right">Log in</a>
        </div>
    </nav>
</div>
<div class="wrapper">
    <div class="container">
        <div class="content-container">
            <div class="content">
                <div class="image"><img src="https://farm5.staticflickr.com/4866/39745612523_14270b4b9d_o.jpg" alt=""
                                        class="flight_img"></div>
                <div class="info">
                    <span class="flight_name">Iridium NEXT Mission 8</span>
                    SpaceX's first flight of 2019 will be the eighth and final launch of its planned Iridium flights.
                    Delivering 10 satellites to low earth orbit, this brings the total up to 75 and completes the
                    Iridium
                    NEXT cons
                    tellation. This mission launches from SLC-4E at Vandenberg AFB. The booster is expected to land on
                    JRTI.
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content-container">
            <div class="content">
                <div style="text-align: center; margin-bottom: 40px;">Launch Information</div>
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <th scope="row">Flight Number</th>
                        <td>74</td>
                    </tr>
                    <tr>
                        <th scope="row">Rocket</th>
                        <td>Falcon 9</td>
                    </tr>
                    <tr>
                        <th scope="row">Launch Date</th>
                        <td>2019-01-11T07:31:00-08:00</td>
                    </tr>
                    <tr>
                        <th scope="row">Launch Success</th>
                        <td>True</td>
                    </tr>
                    <tr>
                        <th scope="row">Wikipedia</th>
                        <td><a href="https://en.wikipedia.org/wiki/Iridium_satellite_constellation#Next-generation_constellation">Click</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="content-container">
            <div class="content">
                <div style="text-align: center; margin-bottom: 40px;">YouTube Launch Video</div>
                <iframe width="100%" height="550px"
                        src="https://www.youtube.com/embed/VshdafZvwrg">
                </iframe>
            </div>
        </div>
    </div>

</div>


</body>
</html>